.services__title, .menu__link, .h__title {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
}

.menu__subtitle {
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
}

.services__subtitle {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
}

.services__link_title {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.services__text {
  font-size: 16px;
  line-height: 26px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.gradient {
  background-image: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  padding-bottom: 60px;
  border-radius: 0px 0px 12px 12px;
}

.h {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.h__wrap {
  background-image: url(../images/h.svg);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}
.h__title {
  color: #FFFFFF;
  margin-top: auto;
  margin-bottom: auto;
}
.h__button {
  position: absolute;
  bottom: 30px;
}

.menu {
  display: flex;
  padding-top: 60px;
  margin-bottom: 60px;
}
.menu__list {
  text-align: right;
  padding-right: 60px;
  border-right: 4px solid #FFFFFF4D;
}
.menu__item {
  margin-bottom: 30px;
  width: 500px;
}
.menu__link {
  color: #B3B3BA;
  text-decoration: none;
}
.menu__link:hover {
  color: #F0145A;
  transition: 0.3s;
}
.menu__link:active {
  background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.menu__link_active {
  background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.menu_text-part {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu__subtitle {
  color: #FFFFFF;
  margin-bottom: 30px;
}
.menu__text {
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
}

.services__link_title {
  color: #B3B3BA;
  text-decoration: none;
  margin-bottom: 10px;
}
.services__link_title:hover {
  color: #F0145A;
  transition: 0.3s;
}
.services__title {
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 60px;
}
.services__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
}
.services__link {
  text-decoration: none;
}
.services__img {
  border-radius: 24px;
  margin-bottom: 30px;
}
.services__subtitle {
  color: #24A3FF;
  margin-bottom: 15px;
}
.services__text {
  color: #FFFFFF;
}

@media (max-width: 1919px) {
  .container {
    padding: 0 60px;
  }
}
@media (max-width: 1023px) {
  .container {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
