@import 'variables_templates';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-template-areas:
    "header__logo header__nav"
    "header__logo header__nav__menu__list";

    &__logo {
        grid-area: header__logo;
    }

    &__nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 16px;
        grid-area: header__nav;
    }

    &__nav__list {
        display: flex;
    }

    &__nav__item {
        margin-left: 14px;
    }

    &__nav__link {
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 1px;
        text-decoration: none;
        color: $color_white;
    }

    &__nav__link_active {
        background-color: $color_accent;
        padding: 5px 7px;
        border-radius: 8px;
    }

    &__nav__text {
        @extend %link;
        margin: 0 18px;
        position: relative;
        color: $color_white;

        &::after {
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            background-color: $color_grey_separator;
            border-radius: 50%;
            position: absolute;
            top: 7.5px;
            right: -11px;
        }

        &::before {
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            background-color: $color_grey_separator;
            border-radius: 50%;
            position: absolute;
            top: 7.5px;
            left: -13px;
        }
    }

    &__nav__number {
        @extend %font_h4;
        text-decoration: none;
        color: $color_white;
        margin-right: 18px;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            background-color: $color_grey_separator;
            border-radius: 50%;
            position: absolute;
            top: 7.5px;
            right: -11px;
        }
    }

    &__nav__menu__list {
        display: flex;
        justify-content: flex-end;
        grid-area: header__nav__menu__list;
    }

    &__nav__menu__item {
        margin-left: 15px;
    }

    &__nav__menu__link {
        @extend  %font_h4;
        text-decoration: none;
        color: $color_white;
    }
}


.footer {
    background-color: $color_grey_bg;

    &__wrap {
        padding: 30px 0;
        border-top: 2px solid $color_grey_separator;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "footer__address footer__copyright"
        "footer__contacts footer__contacts";
    }

    &__address {
        grid-area: footer__address;
        display: flex;
        align-items: center;
        margin-bottom: 21px;
    }

    &__text {
        @extend %link;
        margin-right: 26px;
        color: $color_main;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            background-color: $color_grey_text;
            border-radius: 50%;
            position: absolute;
            top: 7.5px;
            right: -16px;
        }
    }

    &__link {
        @extend %font_h3_caps;
        text-decoration: none;
        color: $color_active_regular;
    }


    &__contacts {
        grid-area: footer__contacts;
        display: flex;
        align-items: center;
    }

    &__number {
        @extend  %font_h4;
        text-decoration: none;
        color: $color_main_alt;
        margin: 0 26px;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            background-color: $color_grey_text;
            border-radius: 50%;
            position: absolute;
            top: 7.5px;
            left: -16px;
        }

        &::after {
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            background-color: $color_grey_text;
            border-radius: 50%;
            position: absolute;
            top: 7.5px;
            right: -16px;
        }
    }

    &__email {
        @extend  %font_h4;
        text-decoration: none;
        color: $color_active_regular;
    }

    &__copyright {
        grid-area: footer__copyright;
        display: flex;
        justify-content: flex-end;
        @extend %link;
        color: $color_grey_text;
    }
}

@media (max-width: 1023px) {
    .header {
        grid-template-areas:
        "header__nav header__nav"
        "header__logo header__logo" 
        "header__nav__menu__list header__nav__menu__list";

        &__nav {
            justify-content: flex-start;
            margin-bottom: 30px;
        }
        
        &__nav__menu__list {
            justify-content: flex-start;
            margin-left: 0;
        }
        
        &__logo {
            margin-bottom: 30px;
        }
    
        &__nav__item {
            margin-left: 0;
            margin-right: 15px;
        }
    
        &__nav__menu__item {
            margin-left: 0;
            margin-right: 15px;
        }
    }
}

@media (max-width: 767px) {
    .footer {
        &__wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__address {
            flex-direction: column;
        }

        &__text {
            margin-bottom: 10px;
            margin-right: 0;

            &::after {
                display: none;
            }
        }

        &__contacts {
            flex-direction: column;
            margin-bottom: 30px;
        }

        &_facebook {
            margin-bottom: 10px;
        }

        &__number {
            margin-bottom: 10px;

            &::before {
                display: none;
            }
        
            &::after {
                display: none;
            }
        }
    }
}