@import 'variables_templates';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container_header {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    max-width: 1360px;
    margin-right: auto;
    margin-left: auto;
}

.profile {
    display: grid;
    padding-top: 60px;
    grid-template-areas:
    "profile__img profile__name"
    "profile__img profile__biography";

    &__img {
        width: 400px;
        height: 500px;
        object-fit: cover;
        border-radius: 12px;
        margin-right: 60px;
        grid-area: profile__img;
    }

    &__name {
        display: flex;
        flex-wrap: wrap;
        grid-area: profile__name;
    }

    &__title {
        @extend %font_hero;
        background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        width: 100%;
        margin-bottom: 15px;
    }

    &__text_post {
        @extend %paragraph_small;
        color: $color_grey_text;
    }

    &__link {
        @extend %link;
        color: $color_active_regular;
        margin-left: 26px;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            background-color: $color_grey_separator;
            border-radius: 50%;
            position: absolute;
            top: 7.5px;
            left: -16px;
        }
    }

    &__biography {
        border-top: 4px solid $color_grey_separator;
        margin-top: 30px;
        padding-top: 30px;
        grid-area: profile__biography;
    }

    &__subtitle {
        @extend %font_h3_caps;
        color: $color_main;
        margin-bottom: 15px;
    }

    &__text {
        @extend %font_p;
        margin-bottom: 30px;
    }
}

@media (max-width: 1919px) {
    .container_header {
        padding: 0 60px;
    } 

    .container {
        padding: 0 60px;
    }
}

@media (max-width: 1439px) {
    .profile {
        &__img {
            width: 300px;
            height: 375px;
        }

        &__name {
            flex-direction: column;
        }

        &__link {
            margin-left: 0;
            margin-top: 10px;

            &::before {
                display: none;
            }
        }
    }
}

@media (max-width: 1023px) {
    .profile {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "profile__img profile__name"
        "profile__biography profile__biography";

        &__img {
            margin-right: 30px;
        }

        &__name {
            margin-top: auto;
            margin-bottom: auto;
        }
    }
}
@media (max-width: 767px) {
    .container_header {
        padding: 0;
    } 

    .container {
        padding: 0 30px;
    }

    .profile {
        padding-top: 30px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "profile__img"
        "profile__name"
        "profile__biography";

        &__img {
            margin-right: 0;
            width: 315px;
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
        }

        &__name {
            margin-left: auto;
            margin-right: auto;
        }
    }
}
