@import 'variables_templates';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}

.gradient {
    background-image: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    padding-bottom: 60px;
    border-radius: 0px 0px 12px 12px;
}

.h {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &__wrap {
        background-image: url(../images/h.svg);
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        height: 100vh;
        position: relative;
    }

    &__title {
        @extend %font_hero;
        color: $color_white;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    &__button {
        position: absolute;
        bottom: 30px;
    }
}

.menu {
    display: flex;
    padding-top: 60px;
    margin-bottom: 60px;
    
    &__list {
        text-align: right;
        padding-right: 60px;
        margin-left: 120px;
        border-right: 4px solid #FFFFFF4D;
    }
    
    &__item {
        margin-bottom: 30px;
        width: 375px;
    }
    
    &__link {
        @extend %font_hero;
        color: $color_grey_text;
        text-decoration: none;
        display: block;
    
        &:hover {
            color:$color_accent;
            transition: 0.3s;
        }
    
        &:active {
            background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
            background-size: cover;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }
    
    &__link_active {
        background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    
    &_text-part {
        margin-left: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    &__subtitle {
        @extend %font_h2;
        color: $color_white;
        margin-bottom: 30px;
    }
    
    &__text {
        font-size: 19px;
        line-height: 30px;
        color: $color_white;
    }
}

.services {
    &__link_title {
        @extend %font_h3_caps;
        color: $color_active_regular;
        text-decoration: none;
        margin-bottom: 10px;

        &:hover {
            color: $color_accent;
            transition: 0.3s;
        }
    }

    &__title {
        @extend %font_hero;
        background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        margin-bottom: 60px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 60px;
    }

    &__link {
        text-decoration: none;
    }

    &__img {
        border-radius: 24px;
        margin-bottom: 30px;
    }

    &__subtitle {
        @extend %font_h3;
        color: $color_active_regular;
        margin-bottom: 15px;
    }

    &__text {
        @extend %font_p;
        color: $color_white;
    }
}

.slider {
    &__wrap {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }

    &__item {
        border-radius: 12px;
        background-color: $color_grey_bg;
    }

    &__slide {
        display: flex;
    }

    &__img {
        width: 400px;
        height: 298px;
        object-fit: cover;
        border-radius: 12px 0 0 12px;
    }

    &__text {
        padding: 30px;
        display: flex;
        flex-direction: column;
    }

    &__link {
        @extend %font_h3_caps;
        color: $color_active_regular;
        text-decoration: none;
        margin-bottom: 5px;
    }

    &__title {
        @extend %font_hero;
        background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        margin-bottom: 30px;
    }

    &__name {
        @extend %font_h4;
        color: $color_grey_text;
        margin-bottom: 6px;
    }

    &__post {
        @extend %paragraph_small;
        color: $color_grey_text;
    }
}

.slick-dots li {
    width: 16px;
    height: 16px;
    margin: 0 7.5px;
}

.slick-dots li button:before {
    font-size: 16px;
    line-height: 16px;
    width: 16px;
    height: 16px;
    opacity: 0.2;
    color: $color_active_regular;
}

.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: $color_active_regular;
}

.clients {
    margin: 60px 0;

    &__title {
        @extend %font_h3_caps;
        color: $color_main;
        margin-bottom: 30px;
        text-align: center;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        border-radius: 12px;
        overflow: hidden;
    }

    &__item {
        display: flex;
        height: 120px;
    }

    &__link {
        margin: auto;
    }

    &__item_1 {
        background-color: #1C4280;
    }

    &__item_2 {
        background-color: #143646;
    }

    &__item_3 {
        background-color: #F48B30;
    }

    &__item_4 {
        background-color: #9E4DC3;
    }

    &__item_5 {
        background-color: #FD9339;
    }

    &__item_6 {
        background-color: #E2E2E4;
    }

    &__item_7 {
        background-color: #C71C36;
    }

    &__item_8 {
        background-color: #DCF3F9;
    }

    &__item_9 {
        background-color: #EAEAEA;
    }

    &__item_10 {
        background-color: #282240;
    }

    &__item_11 {
        background-color: #1D4568;
    }

    &__item_12 {
        background-color: #000000;
    }
}

.publications {
    background-color: $color_grey_bg;
    padding: 30px 0;

    &__button {
        @extend %font_h3_caps;
        color: $color_active_regular;
        text-decoration: none;
        margin-bottom: 10px;

        &:hover {
            color: $color_accent;
        } 
    }

    &__button:hover &__svg {
        stroke: $color_accent;
    }

    &__title {
        @extend %font_hero;
        background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        margin-bottom: 30px;
    }

    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }

    &__link {
        text-decoration: none;
    }

    &__text-part {
        padding: 30px;
        background-color: $color_white;
        border-radius: 0 0 8px 8px;
        min-height: 230px;
    }

    &__subtitle {
        @extend %font_h4;
        color: $color_active_regular;
        margin-bottom: 15px;
    }

    &__data {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
        color: $color_grey_text;
        margin-bottom: 15px;
    }

    &__text {
        @extend %paragraph_small;
        color: #000000;
        border-top: 4px solid $color_grey_separator;
        padding-top: 15px;
    }
}

@media (max-width: 1919px) {
    .container {
        padding: 0 60px;
    }
}

@media (max-width: 1439px) {
    .menu {
        &__list {
            margin-left: 0;
        }
    }
}

@media (max-width: 1023px) {
    .container {
        padding: 0;
    }
    
    .menu {
        flex-direction: column;
        padding: 60px 60px 0 60px;
        
        &__list {
            display: flex;
            overflow-x: scroll;
            border-right: none;
            border-bottom: 4px solid #FFFFFF4D;
            padding-right: 0;
        }
        
        &__item {
            margin-bottom: 60px;
            margin-right: 30px;
        }
        
        &_text-part {
            margin-left: 0;
            margin-top: 60px;
        }
    }

    .services {
        padding: 0 60px;

        &__list {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: 767px) {
    .h {
        &__wrap {
            background-size: auto 100%;
        }
    }

    .menu {
        padding: 30px 30px 0 30px;

        &__item {
            margin-bottom: 30px;
        }
        
        &_text-part {
            margin-top: 30px;
        }
    }

    .services {
        padding: 0 30px;

        &__title {
            margin-bottom: 30px;
        }

        &__list {
            grid-template-columns: 1fr;
            grid-gap: 30px;
        }
    }
}