@import 'variables_templates';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1720px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 60px;
}

.gradient {
    background-image: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    padding-bottom: 60px;
    border-radius: 0px 0px 12px 12px;
}

.h {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &__wrap {
        background-image: url(../images/h.svg);
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        height: 100vh;
        position: relative;
    }

    &__title {
        @extend %font_hero;
        color: $color_white;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    &__button {
        position: absolute;
        bottom: 30px;
    }
}

.menu {
    &__wrap {
        padding-top: 60px;
        display: flex;
    }
    
    &__list {
        text-align: right;
        padding-right: 60px;
        border-right: 4px solid #FFFFFF4D;
    }
    
    &__item {
        margin-bottom: 30px;
        width: 500px;
    }
    
    &__link {
        @extend %font_hero;
        color: $color_grey_text;
        text-decoration: none;
    
        &:hover {
            color:$color_accent;
            transition: 0.3s;
        }
    
        &:active {
            background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
            background-size: cover;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }
    
    &__link_active {
        background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    
    &_text-part {
        margin-left: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    &__subtitle {
        @extend %font_h2;
        color: $color_white;
        margin-bottom: 30px;
    }
    
    &__text {
        font-size: 19px;
        line-height: 30px;
        color: $color_white;
    }
}

.services {
    &__link_title {
        @extend %font_h3_caps;
        color: $color_grey_text;
        text-decoration: none;
        margin-bottom: 10px;

        &:hover {
            color: $color_accent;
            transition: 0.3s;
        }
    }

    &__title {
        @extend %font_hero;
        background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        margin-bottom: 60px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 60px;
    }

    &__link {
        text-decoration: none;
    }

    &__img {
        border-radius: 24px;
        margin-bottom: 30px;
    }

    &__subtitle {
        @extend %font_h3;
        color: $color_active_regular;
        margin-bottom: 15px;
    }

    &__text {
        @extend %font_p;
        color: $color_white;
    }
}